node_modules
myapp/node_modules
myapp/coverage/clover.xml
myapp/coverage/coverage-final.json
myapp/coverage/lcov-report/base.css
myapp/coverage/lcov-report/block-navigation.js
myapp/coverage/lcov-report/favicon.png
myapp/coverage/lcov-report/index.html
myapp/coverage/lcov-report/prettify.css
myapp/coverage/lcov-report/prettify.js
myapp/coverage/lcov-report/sort-arrow-sprite.png
myapp/coverage/lcov-report/sorter.js
myapp/coverage/lcov.info
