body {
  color: black;
  background-color: white;
  background-image: url(https://img.freepik.com/photos-gratuite/assortiment-bureau-plat-tablette-ecran-vide_23-2148707960.jpg?w=2000&t=st=1711730238~exp=1711730838~hmac=c3faec85d42a44b531b8c237e3322147f5dbc9275d67feafe79bbfd96e113cb4);
  margin: 0;
  text-align: center;
}

.box {
  border: solid;
}
