body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
body {
  background-image: url('/images/background.jpg'); /* Changez le nom du fichier et le chemin si nécessaire */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.logo {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
}
